.speech{color: black;font-style: oblique ; font-size: 15px;}
.direction{color: black;background-color: aqua;font-family: 'Courier New', Courier, monospace;
    font-size: 15px;}
.name{ 
    font: 100;color: cornsilk;
}
.NASTASYATIMOFEYEVNA{color:darkred;}
.APLOMBOV{color: darkgreen;}
.WAITER{color:darkblue;}
.GROOMSMAN{color: darkorange;}
.direction:hover { color: coral; background-color: chartreuse;}
.NASTASYATIMOFEYEVNA:hover{border: 3px ; border-style: dashed;box-shadow: 5px 5px 5px darkgreen;text-shadow: 1px 1px yellow;}
.APLOMBOV:hover{border: 3px ; border-style:groove;box-shadow: 5px 5px 5px darkgreen;text-shadow: 1px 1px orange;}
.GROOMSMAN:hover{border: 3px ; border-style:dotted;box-shadow: 5px 5px 5px darkgreen;text-shadow: 1px 1px blueviolet;}
.WAITER:hover{border: 3px ; border-style:inset;box-shadow: 5px 5px 5px darkgreen;text-shadow: 1px 1px red;}



table, th, td {
    border: 2px solid lightcoral;
    border-collapse: collapse;
    margin: 9px;
}
th,td {
    text-align: center;padding: 9px;
}
tr:nth-child(even) {
    background-color: lightcyan;
  }
th {
    background-color:khaki;
    font-style: oblique;
}

/* CSS combinator uses space here... 
     We select any anchor that is a descendant of 
     an appropriate ul used as a navbar.
     */
     ul.navbar-vertical {
        /* remove these */
        list-style-type: none;
        margin: 0;
        padding 0;
        
        width:70px;
        background-color:red;
      }
      
      ul.navbar-vertical a {
        display: block; /* all is clickable */
        color:#000;
      }
      /* on hover change the link color*/
      ul.navbar-vertical a:hover {  
        background-color: #555;
        color:white;
      }
      
      ul.navbar-horizontal {
        /* remove these */
        list-style-type: none;
        margin: 0;
        padding: 0;
      
      }
      
      ul.navbar-horizontal li {
        float:left;/* line up horizontally */
        color:#000;
        background-color:blueviolet;
      }
      
      ul.navbar-horizontal a {
        display:block;
        padding:8px
      }
      
      /* on hover change the link color*/
      ul.navbar-horizontal a:hover {  
        background-color: #555;
        color:white;
      }
  
